$corDeFundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corTextoDescrisao: #be0f0f;
$corDeFundoBotaoPrimario: #6421ff;
$corDeFundoBotaoSecundario: #be0f0f;
$corDeFundoBotaoDark: #000;